* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Spartan", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  max-width: 915px;
  width: 80%;
  height: 480px;
  border: 2px solid blue;
}
.reviews,
.social-proof {
  /* border: 1px solid grey; */
  height: 50%;
  display: flex;
}
.ratings-2 {
  padding-left: 1.5%;
}
.ratings-1 {
  padding-right: 12%;
}
.ratings-1 p {
  line-height: 1.25rem;
  padding-top: 0.75rem;
}
.ratings {
  /* border: 1px solid orange; */
  width: 50%;
  height: 100%;
}
h1 {
  font-size: clamp(1rem, 3.5vw, 2.33rem);
  line-height: 2.5rem;
  color: #562455;
}
p{
font-size:clamp(8px, 1vw, 11px) ;
font-weight: 500;
color:#B4AAB5;
}
.stars {
  width: 82.5%;
  height: 19%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 5.5%;
  background-color: #F7F2F6;
  margin-top: 1.2rem;
}
.star-svg {
  width: clamp(3%, 1vw, 6.4%);
  height: 29%;
  margin: 1.3%;
}
.stars span {
  font-size: clamp(9px, 1vw, 12px);
  margin-left: 1.3rem;
  font-weight: 900;
  color: #967A93;
}
.rate-2 {
  margin: 3% 0 0 8%;
}
.rate-3 {
  margin: 3% 0 0 17%;
}
/* user reviews... social proof */
.social-proof {
  display: flex;
  justify-content: space-between;
}
.social-proof > section {
  /* border: 1px solid green; */
  width: 31.5%;
  height: 81%;
  margin-top: 1.8%;
  padding:26px;
  border-radius: 8px;
  background-color: #511F50;
}
.social-proof .soc-box2 {
  margin-top: 3%;
}
.social-proof .soc-box3 {
  margin-top: 4.4%;
}

/* user-icon and name */
.user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
}
.user-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.stats {
 
  width: 50%;
  /* border: 1px solid purple; */
  margin-left: 20%;
  margin-top: 1.4%;
}
.stats > h2{
  font-size:12px;
  margin-bottom: 1.5%;
  color: white;
}
.feedback{
margin-top:10%;
line-height: 17.5px;

font-weight: 900;
font-size:clamp(6px, 1vw, 9.9px) ;
color: white;
}
.stats > p{
 color:#A86199;
}